<h1>About</h1>
	<p>
		<%= link_to "SUPERKUKU.COM", "http://superkuku.com" %>
		aim to raise road awareness and hopefully build a more considerate road community by curating all the bad driving in the hope of motorists NOT making the same mistakes. Or it's bad driving just for laughs, or shame.
	</p>
		
	<p> Regardless, let's all look at the world a little differently. Love everyone, even with the mistakes they made. And hope from there, they can change. Together we can change the world, one at a time.
	</p>